<nav>
    <div class="site-title">
        <a href="/"><h1>SwiftOpinion</h1></a>
        <p>Make a poll and distribute it to others</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/create-poll">Create a poll</a></li>
    </ul>
</nav>