<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>
    <div class="success">
        <h1>Successfully created a poll.</h1>
        <h2>Your poll code: <%= pollCode %></h2>
        <h3>Write it down or save it somewhere, you'll need it.</h3>
    </div>

    
    <%- include("./partials/footer.ejs") %>
</body>
</html>